
.bd-blue-100 {
  color: #000;
  background-color: #cfe2ff
}

.bd-blue-200 {
  color: #000;
  background-color: #9ec5fe
}

.bd-blue-300 table.bd-blue-300{
  color: #000;
  background-color: #6ea8fe
}

.bd-blue-400 {
  color: #000;
  background-color: #3d8bfd
}

.bd-blue-500 {
  color: #fff;
  background-color: #0d6efd
}

.bd-blue-600 {
  color: #fff;
  background-color: #0a58ca
}

.bd-blue-700 {
  color: #fff;
  background-color: #084298
}

.bd-blue-800 {
  color: #fff;
  background-color: #052c65
}

.bd-blue-900 {
  color: #fff;
  background-color: #031633
}

.logo {
  font-family: 'Arial', sans-serif;
  font-size: 2em;
  color: #333;
}

.min-vh-50 {
  min-height: 50vh;
}

.helptext {
  color: #678fb1 !important; /* This replicates the 'text-muted' class */
  font-weight: lighter;
}

div.listing_img_container {
  max-height: 50vh;
}

img.listing_img {
   max-height: 100%;
}