<!-- Detailed Information about a Selected Listing -->
{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
    <h2 class="text-center py-5">Listing</h2>

    <div class="container-lg my-2 bd-blue-800 min-vh-50">
        <div class="p-2 col-sm-6 col-lg-6 ">
            <p class="display-6 fw-bold">{{ listing.title }}</p>
            <p class="text-end"> submited by {{ listing.user }}</p>
        </div>
        <div class="row">
            <!-- img area start -->
            <div class="border p-2 col-sm-6 col-lg-6 listing_img_container">
            {% if listing.image_url %}
                <img class="img-fluid rounded mx-auto d-block listing_img" src="{{ listing.image_url }}">
            {% else %}
                <img class="img-fluid rounded mx-auto d-block listing_img" src="{% static 'auctions/images/noimg.svg' %}">
            {% endif %}    
            </div>
            <!-- img area end -->
            <!-- bid btn area start -->
            <div class="border col-sm-6 col-lg-6 d-flex justify-content-center align-items-center mx-auto">
                <!-- d-flex class is needed to align elements (due to heights decided by size of img)-->
                <form class="" action="{% url 'bid' %}" method="POST">
                    {% csrf_token %}
                    <div class="align-items-center p-5">
                    <div class="input-group flex-nowrap">
                        <span class="input-group-text" id="addon-wrapping">$</span>
                        <input type="number" step="0.5" name="bid_amount" class="form-control" placeholder="{{ bid_price }}" value="{{ bid_price }}" aria-label="Bid Price" aria-describedby="addon-wrapping"
                        {% if not bid_enabled %}disabled{% endif %}>
                        <input type="number" name="id" hidden value={{listing.id}}>
                        <button type="submit" class="btn btn-primary {% if not bid_enabled %}disabled{% endif %}" id="submit-addon">Bid!</button>
                    </div>
                </form>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert {{ message.tags|safe }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}

                </div>
            </div>
            <!-- bid btn area end -->
        
        <div class="p-4 col-sm-6 col-lg-6 ">
            <h5 class="">Description</h5>
            <p class="">{{ listing.desc }}</p>
            <p class="">Status : {{ listing.get_status_display }}</p>
            <p>Category : {{ listing.get_category_display }}</p>
            <p>Created : {{ listing.created_at }}</p>
            <p>Last edit : {{ listing.edited_at }}</p>
            <p>There are {{ bids }} bid(s).</p>
            <p>Bid Price : {{ bid_price }}</p>

            {% if bids > 0 %}
            <h6>Highest Bids</h6>
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">Price</th>
                        <th scope="col">User</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bid in current_bids %}
                    <tr>
                        <td>{{ bid.price }}</td>
                        <td>{{ bid.user }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
            
        </div>
     </div>
    </div>
    </div>
{% endblock %}